<div class="ha-card clock-card {{ size_class }}{% if no_bg %} clock-no-bg{% endif %}">
  <div class="clock-digital" id="{{ clock_id }}" data-tz="{{ tz | e }}" data-fmt="{{ fmt | e }}"{% if sec %} data-sec="1"{% endif %}>--:--</div>
</div>
