<div class="ha-card entity-card"{{ ta_attrs }}>
  <div class="entity-row">
    {% if icon %}<div class="entity-icon">{{ icon }}</div>{% endif %}
    <div class="entity-info">
      <div class="entity-name">{{ name }}</div>
      {{ state_span }}
    </div>
  </div>
</div>
