<div class="ha-card sensor-card">
  <div class="sensor-content">
    <div class="sensor-icon">{{ icon }}</div>
    <div class="sensor-info">
      <div class="sensor-name">{{ name }}</div>
      {{ state_span }}
    </div>
  </div>
  {% if graph %}
  <div class="sensor-graph" data-entity="{{ eid | e }}" data-hours="{{ graph.hours }}"></div>
  {% endif %}
</div>
