{% extends "base.html.j2" %}
{% block content %}
<div class="view-index">
<h1>LightDash</h1>
<ul>
{% for link in links %}
  <li><a href="{{ link.href }}">{% if link.icon %}<span class="vi">{{ link.icon }}</span> {% endif %}{{ link.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
